@mixin font-set ($fs, $ff, $sc, $fw: 400, $lh: 1.2) {
  font-size: $fs;
  font-family: $ff;
  font-weight: $fw;
  color: $sc;
  line-height: $lh;
}


@mixin flex ($just-cont:flex-start, $align-itm:stretch) {
  display: flex;
  justify-content: $just-cont;
  flex-wrap: wrap;
  align-items: $align-itm;
}
