$main-ff: "Montserrat",
sans-serif;
$secondary-ff: "Roboto",
sans-serif;
$kaush: "Kaushan Script";
$color-b: rgb(51, 51, 51);
$color-s: rgb(153, 153, 153);
$color-w: rgb(255, 255, 255);
$decorate-color-y: rgb(252, 227, 138);
$decorate-color-p: rgb(243, 129, 129)
